.storycarousel {
  display: flex;
  list-style-type: none;
  padding: 0;
  overflow-x: scroll;
  pointer-events: pan-x;
  touch-action: pan-x;
  margin: 20px 5px 0 5px;
  gap: 0.5rem;
  min-height: 60px;
}

.storypost {
  font-size: 0.8rem;
}

.storycarousel img {
  height: 36px;
  width: 36px;
  border-radius: 25px;
}

.storypost--viewed {
  border: 2px solid #000;
}

.storypost--new {
  border: 2px solid yellow;
}
