.appnav {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 80vw;
  background-color: #000;
}

.appnav__content {
  color: #fff;
  padding: 20px;
}

.user__block {
  display: grid;
  margin-bottom: 10px;
}

.user__username {
  grid-row-start: 3;
  grid-column-start: 1;
}

.profile__avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  grid-row-start: 1;
  grid-column-start: 1;
  margin-bottom: 10px;
}

.button--closenav {
  height: 30px;
  width: 30px;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: end;
  margin: 5px 10px;
  color: #eeee00;
}

.user__username,
.link svg,
.appnav__content hr {
  color: #808080;
}

a {
  text-decoration: none;
  color: #fff;
}

.user__metrics {
  display: flex;
  gap: 10px;
}

.metric--following,
.metric--followers {
  display: flex;
  gap: 5px;
}

.metric--following__count,
.metric--follower__count {
  font-weight: 800;
}

.nav__links {
  list-style-type: none;
  padding: 0;
}

.link {
  display: flex;
}

.link svg {
  margin-right: 0.5rem;
}

.nav__links li,
.settings,
.help {
  font-size: 18px;
  padding: 10px 0;
}
