.header {
  display: grid;
  grid-template-rows: min-content;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: #eeee00;
  padding: 5px 5px 0 5px;
}

a {
  color: #eeee00;
}
