.header {
  display: grid;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  font-weight: 600;
}

.header__icon {
  font-size: 1.5rem;
  color: #eeee00;
}

.header__title {
  color: #fff;
  padding-top: 5px;
  align-content: baseline;
  font-weight: 600;
}

.header__search {
  background-color: #202020;
  width: 65vw;
  color: #fff;
  border-radius: 25px;
  border-color: #000;
  padding: 5px;
}

a {
  color: #eeee00;
}
