.notifications__pg {
  display: grid;
}

.notifications__tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.notifications__tab--focused,
.notifications__tab {
  width: 50vw;
  text-align: center;
}

.notifications__tab--focused {
  font-weight: 600;
  border-bottom: 2px solid #eeee00;
  margin-bottom: -10px;
}

.notifications__tab {
  color: #808080;
}

.notifications {
  margin: 0;
  border: 0.5px solid #202020;
}

.notifications__list {
  list-style-type: none;
  padding: 0;
}

.notification--general,
.notification--follow,
.notification--reply,
.notification--like,
.notification--requack {
  padding: 10px 20px;
  border-bottom: 0.5px solid #404040;
}

.notification__authorgraphic {
  margin-bottom: 5px;
}

.notification__authorgraphic svg {
  margin: 0 10px 15px 0;
}

.notification__author--avatar {
  height: 36px;
  width: 36px;
  border-radius: 50px;
}

.notification__text {
  margin-left: 25px;
}

.notification__content .user__displayname {
  font-weight: 600;
}

.notification__content {
  padding: 10px 25px;
  display: grid;
}

.notification--general svg,
.notification--like svg,
.notification--follow svg,
.notification--reply svg,
.notification--requack svg {
  color: #eeee00;
  font-size: 1.25rem;
}

.notification--requack svg {
  font-size: 1.75rem;
}
